# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
[Bb]uild/
[Bb]uilds*/
Assets/AssetStoreTools*
Assets/StreamingAssets/*
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.bak
*.svd
*.pdb
*.mdb
*.opendb 
*.VC.db
*.pidb.meta
